@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

body {
  background-image: url(../img/snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  font-family: "Relaway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 25px;
  margin: -80px 0 25px 0;
}

.date {
  transform: scale(5);
  z-index: -1;
  opacity: 0.1;
  position: absolute;
  top: 90%;
  left: 10%;
  /* transform: translateX(-50%); */
  transition: all 0.7s;
}

.countdown {
  display: flex;
  transform: scale(2); /*??????????????????*/
}

.time {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 7px;
  transition: all 0.7s;
}

.underText{
    font-size: 10px;
    transition: all 0.7s;
    margin: -3px 0 5px 1px;
    padding: 0;
  }

.time h2 {
  margin: 0 0 1px 0;
  transition: all 0.7s;
}

footer{
    position: absolute;
    text-align: center;
    top: 97%;
    font-size: 9px;
    /* left: 46%; */
}

@media (max-width: 500px) {
  h1 {
    font-size: 15px;
    transition: all 0.7s;
  }

  .time {
    margin: 5px;
    transition: all 0.7s;
  }

  .time h2 {
    font-size: 12px;
    margin: 0;
    transition: all 0.7s;
  }

  .underText{
    font-size: 5px;
    transition: all 0.7s;
  }
}

@media (max-width: 300px) {
  /* .countdown {
    flex-direction: row; */
  } 